<section class="container-fluid home-section d-flex justify-content-center align-items-center">
  <div class="overlay"></div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8">
      <div class="jumbotron">
        <h1>Wherever you go it’ll inside the World</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="btn btn-primary btn-lg" routerLink='/travels'>See Details</a>
    </div>
  </div>
  </div>
</section>
